.footer{
	height: 343px;
	background-color: ff8c69;
}

.fp-tableCell{
	display: table-cell;
    vertical-align: middle;
    width: 100%;
}
.fp-section.fp-table, .fp-slide.fp-table {
    display: table;
    table-layout: fixed;
    width: 100%;
}    
.content-footer .links {
	display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.content-footer .links div.second {
    width: 20%;
}
.content-footer .links div {
    min-height: 60%;
    line-height: 30px;
    font-size: 13px;
}