<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<div class="footerK container">
    <div class="row">
        <div class="first">
            <a href="/bachillerato"><p>Bachillerato Kuepa</p></a>
            <span class="hide_phone"><a href="/bachillerato#program">Nuestro programa</a><br></span>
            <span class="hide_phone"><a href="/bachillerato#metodologia">Metodología Kuepa</a><br></span>
            <span class="hide_phone"><a href="/bachillerato#nosotros">Una clase con nosotros</a><br></span>
            <span class="hide_phone"><a href="/bachillerato#mejor">¿Por qué somos la mejor opción?</a><br></span>
            <span class="hide_phone"><a href="/bachillerato#donde">¿Dónde estamos?</a><br></span>
            <span class="hide_phone"><a href="/bachillerato#comunidad">Testimonios</a><br></span>
        </div>
        <div class="second">
            <a href="/ingles"><p>Inglés intensivo</p></a>
            <span class="hide_phone"><a href="/ingles#program">Nuestro programa</a><br></span>
            <span class="hide_phone"><a href="/ingles#metodologia">Metodología Kuepa</a><br></span>
            <span class="hide_phone"><a href="/ingles#nosotros">Una clase con nosotros</a><br></span>
            <span class="hide_phone"><a href="/ingles#donde">¿Dónde estamos?</a><br></span>
            <span class="hide_phone"><a href="/ingles#comunidad">Testimonios</a><br></span>
        </div>
        <div class="third">
            <a href="/preicfes"><p>Preicfes kuepa</p></a>
            <span class="hide_phone"><a href="/preicfes#program">Nuestro programa</a><br></span>
            <span class="hide_phone"><a href="/preicfes#metodologia">Metodología Kuepa</a><br></span>
            <span class="hide_phone"><a href="/preicfes#nosotros">Una clase con nosotros</a><br></span>
            <span class="hide_phone"><a href="/preicfes#donde">¿Dónde estamos?</a><br></span>
            <span class="hide_phone"><a href="/preicfes#comunidad">Testimonios</a><br></span>
        </div>
        <div class="third">
            <a href="/gestion-empresarial"><p>Gestión Empresarial</p></a>
            <span class="hide_phone"><a href="/gestion-empresarial#program">Nuestro programa</a><br></span>
            <span class="hide_phone"><a href="/gestion-empresarial#metodologia">Metodología Kuepa</a><br></span>
            <span class="hide_phone"><a href="/gestion-empresarial#nosotros">Una clase con nosotros</a><br></span>
            <span class="hide_phone"><a href="/gestion-empresarial#donde">¿Dónde estamos?</a><br></span>
            <span class="hide_phone"><a href="/gestion-empresarial#comunidad">Testimonios</a><br></span>
        </div>

        <div class="last">
            <a href="/servicios-tic"><p>Servicios TIC</p></a>
            <span class="hide_phone"><a href="/servicios-tic#program">Nuestro programa</a><br></span>
            <span class="hide_phone"><a href="/servicios-tic#metodologia">Metodología Kuepa</a><br></span>
            <span class="hide_phone"><a href="/servicios-tic#nosotros">Una clase con nosotros</a><br></span>
            <span class="hide_phone"><a href="/servicios-tic#donde">¿Dónde estamos?</a><br></span>
            <span class="hide_phone"><a href="/servicios-tic#comunidad">Testimonios</a><br></span>
        </div>
    </div>    
    
</div>